# {{ ansible_managed }}
# By default, Munin installs a symlink to /etc/munin/apache.conf in this
# location. I have modified the version distributed with munin 2.0.19 as
# follows:
# - Remove the Order and Allow directives.
# - Use Location /munin instead of Directory /var/cache/munin/www .
# - Uncomment the lines for Basic authentication.
# - Rearrange those lines, capitalize "Require".
# - Remove some comments.
# - Add configuration for php_opcache plugin.
# See http://serverfault.com/a/383911/267566 .
# The goal is to allow access from any server, require authentication, and work
# with apache 2.4.

# Enable this for template generation
Alias /munin /var/cache/munin/www

# Enable this for cgi-based templates
#Alias /munin-cgi/static /var/cache/munin/www/static
#ScriptAlias /munin-cgi /usr/lib/munin/cgi/munin-cgi-html
#<Location /munin-cgi>
#	Order allow,deny
#	Allow from localhost 127.0.0.0/8 ::1
#	AuthUserFile /etc/munin/munin-htpasswd
#	AuthName "Munin"
#	AuthType Basic
#	require valid-user
#</Location>

<Location /munin>
        Options None

	AuthType Basic
	AuthName "Munin"
	AuthUserFile /etc/munin/munin-htpasswd
	Require valid-user

    <IfModule mod_expires.c>
        ExpiresActive On
    	ExpiresDefault M310
    </IfModule>

</Location> 

# Enables fastcgi for munin-cgi-html if present
#<Location /munin-cgi>
#    <IfModule mod_fastcgi.c>
#        SetHandler fastcgi-script
#    </IfModule>
#</Location>

#<Location /munin-cgi/static>
#	SetHandler None
#</Location>

# Enables fastcgi for munin-cgi-graph if present
ScriptAlias /munin-cgi/munin-cgi-graph /usr/lib/munin/cgi/munin-cgi-graph
<Location /munin-cgi/munin-cgi-graph>
	AuthType Basic
	AuthName "Munin"
	AuthUserFile /etc/munin/munin-htpasswd
	Require valid-user
	<IfModule mod_fcgid.c>
	    SetHandler fcgid-script
	</IfModule>
	<IfModule !mod_fcgid.c>
	    SetHandler cgi-script
	</IfModule>
</Location>

ScriptAlias /munin-cgi/munin-cgi-html /usr/lib/munin/cgi/munin-cgi-html
<Location /munin-cgi/munin-cgi-html>
	AuthType Basic
	AuthName "Munin"
	AuthUserFile /etc/munin/munin-htpasswd
	Require valid-user
	<IfModule mod_fcgid.c>
	    SetHandler fcgid-script
	</IfModule>
	<IfModule !mod_fcgid.c>
	    SetHandler cgi-script
	</IfModule>
</Location>

Alias /munin-plugin /etc/munin/contrib/plugins
<Location /munin-plugin>
	Require local
</Location>
