# {{ ansible_managed }}

{% for item in drupal_sites %}
<Directory {{ web_base_dir }}/sites/{{ item.name }}/drupal/>
    Options Indexes FollowSymLinks
    DirectoryIndex index.php index.html
    AllowOverride None
    Require all granted
</Directory>

{% endfor %}
<DirectoryMatch "/\.git">
    Require all denied
</DirectoryMatch>

Header set X-Content-Type-Options: "nosniff"
