# {{ ansible_managed }}

<Directory {{ web_base_dir }}/sites/*/drupal/>
    Options Indexes FollowSymLinks
    DirectoryIndex index.php index.html
    AllowOverride All
    Require all granted
</Directory>

<DirectoryMatch "/\.git">
    Require all denied
</DirectoryMatch>

Header set X-Content-Type-Options: "nosniff"
